@import "tailwindcss";

/* index.css */
body {
  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-white;
}
html {
  scroll-behavior: smooth;
}
/* Light mode scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* gray-700 */
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Dark mode scrollbar */
html.dark ::-webkit-scrollbar-track {
  background: #1f2937; /* gray-800 */
}

html.dark ::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* gray-400 */
}
